language: node_js
node_js:
  - "12"
services:
  - docker
install: yarn
cache: yarn
before_deploy: "yarn fullbuild"
jobs:
  include:
    - stage: test
      script:
        - npm test
      after_success:
        - bash <(curl -s https://codecov.io/bash)
    - stage: docker-deploy-image
      script: 
        - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin 
        - docker build -t 644755/sample .
        - docker push 644755/sample
    - stage: deploy
      script: skip
      deploy:
        provider: elasticbeanstalk
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        region: 'us-east-1'
        app: 'Docker-CI-Flow'
        env: 'DockerCiFlow-env'

        bucket_name: 'elasticbeanstalk-us-east-1-674818105408'
        bucket_path: 'Sample'
 
 # script: "npm publish"
 # skip_cleanup: true
 # email: "$NPM_EMAIL"
 # api_key: "$NPM_TOKEN"

